<!DOCTYPE html>
<html>
<head>
  <title>FazBook</title>
</head>
<body>
<div>
    <span>user.firstName</span>
    <span>user.lastName</span>
    <span>user.email</span>
    <span>user.dob</span>
  </div>
</body>
</html>
