<!DOCTYPE html>
<html>
<head>
  <title>FazBook</title>
</head>
<body>
<a href="users/id/edit"></a>
<div>
    <span>user.firstName</span>
    <span>user.lastName</span>
    <span>user.email</span>
    <span>user.dob</span>
  </div>
</body>
</html>
<!--This form is to display a specific users information once their account has been clicked -->
